/* declarar variaveis */
:root{
    --vermelho: #E50914;
    --preta: #141414;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* corpo do site*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
   
}

/*  visualizar bordar */
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* definir logo */
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* filme principal */
.filme-principal{
    font-size: 16px;
    /* inserir imagem */
    background-image: 
    /*inserir gradiente na imagem */
    linear-gradient(rgba(0, 0, 0, 0.5), 
                    rgba(0,0,0,.50)100%),
    url('/img/capa-house.jpg');

    /* tamanho da caixa */
    height: 400px;
    /* tamanho do background */
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Definir botoes */
.botao{
    background-color: rgba(0, 0, 0, .50);
    /*definir border */
    border: none;
    /* definir color*/
    color: white;
    /* definir espaçamento interno */
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    /* laterar curso do mouse */
    cursor: pointer;
    /* controlar animação */
    transition: .3s ease all;

}

/* alterar cor dos botões*/
.botao:hover{
    background-color: white;
    color: black;
}

/* definir icone*/
.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 8px;
}